
<div class = "container">
    <div class ="row no-gutters">
        <div class ="col-md-4">
            <div class ="settings-tray">
                <img class="profile-image" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjF8fHByb2ZpbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt = "photo">
                <span class ="settings-tray-right float-right">
                    <i class="bi bi-list"></i>
                    <i class="bi bi-chat-left-text-fill"></i>   
                </span>
            </div>

            <div class ="search-box">
                <div class ="input-wrapper">
                    <i class="bi bi-search"></i>
                    <input type = "text" placeholder="Search here">
                </div>
            </div>

            <div class = "friend-drawer friend-drawer--onhover"> 
                <img class="profile-image" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHByb2ZpbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt = "photo">
                <div class = "text">
                    <h6> Alan </h6>
                    <p class= "text-muted">Hey man how you doin?</p>
                </div>
                    <span class = "small time">13:30</span>                  
            </div>
            <hr>

            <div class = "friend-drawer friend-drawer--onhover"> 
                <img class="profile-image" src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHByb2ZpbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt = "photo">
                <div class = "text">
                    <h6> Mike </h6>
                    <p class= "text-muted">Hey man how you doin?</p>
                </div>
                    <span class = "small time">13:30</span>                  
            </div>
            <hr>

            <div class = "friend-drawer friend-drawer--onhover"> 
                <img class="profile-image" src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt = "photo">
                <div class = "text">
                    <h6> John </h6>
                    <p class= "text-muted">Hey man how you doin?</p>
                </div>
                    <span class = "small time">13:30</span>                  
            </div>
            <hr>

            <div class = "friend-drawer friend-drawer--onhover"> 
                <img class="profile-image" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt = "photo">
                <div class = "text">
                    <h6> Berenice </h6>
                    <p class= "text-muted">Hey man how you doin?</p>
                </div>
                    <span class = "small time">13:30</span>                  
            </div>
            <hr>

        </div>

        <div class="col-md-8">
            <div class="settings-tray">
                <div class="friend-drawer no-gutters friend-drawer--grey">
                    <i class="bi bi-people-fill"></i>
                    <div class="text">
                        <h6>Friends Group</h6>
                        <p>Let's Chat!</p>
                    </div>
                </div>
            </div>
            <div class ="chat-panel">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <div class="chat-bubble chat-bubble--left">
                            <em>Alan:</em> Test message  
                        </div>
                    </div>
                </div>
                
                
            <div class="row">
                <div class="col-12">
                    <div class="chat-box-tray">
                        <i class="bi bi-emoji-smile"></i>
                        <input type="text" placeholder = "Type your message here...">
                        <i class="bi bi-send-fill"></i>
                    </div>
                </div>
            </div>
            </div>
        </div>

    </div>
</div>